img {
    height: auto;
    width: 500px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: #2c56c9;
}

.center,
h1 {
    text-align: center;
}

h1:hover {
    background-color: pink;
}
h4:hover {
    background-color: rgb(173, 243, 167);
    color:rgb(255, 80, 217);
}
h4 {
    color:rgb(165, 4, 58);
}

p,
ul,
ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

ul {
    list-style-type: circle;
}
